# Build Ordner
build/
out/

# CMake generierte Dateien
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Compiled Binaries
*.exe
*.out
*.o
*.obj

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini